* {
	box-sizing: border-box;
}

div {
	margin: 16px;
	display: flex;
	flex-direction: column;
}
.text {
	text-decoration: underline 1px dotted black;
	font-weight: bold;
}
.tooltip {
	position: absolute;
	color: white;
	background-color: grey;
	padding: 0;
	margin: 0;
	padding: 8px;
	border-radius: 4px;
	display: none;
}
.text:hover .tooltip {
	display: block;
	bottom: -40px;
}