* {
  box-sizing: border-box;
}
.block {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  width: 250px;
  height: 100px;
  background-color: coral;
  position: absolute;
  animation: animate 2s;
  transition: top ease 2s;
  animation-fill-mode: backwards;
}
@keyframes animate {
  from {
    top: -100px;
  }
  to {
    top: calc(50% - 50vh);
  }
}