.header {
    background-color: $color-grey;
}
.nav-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    height: $unit * 7;
    align-items: center;
    cursor: pointer;

    &__item {
        border-radius: $border-radius;
        padding: $unit;
        margin-left: $unit;
        font-weight: 700;
        background-color: $color-secondary;
        color: $text-color-secondary;

        &_selected {
            background-color: $color-primary;
        }
    }
}